span {text-decoration: line-through;
        background-color: red;
}     

h3 {text-indent: 100px;
}
    
div {text-align: right;
}
 
footer {font-family: fantasy;
}

a {text-decoration: none;
    color: black;
}

a:hover {text-decoration: underline;
}