body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
} 

div#wrapper {
        width:100%;
        height:100%;
        margin: 0px;
        padding: 0px;
}

div#header {
    height: 15%;
    background-color: black;
    width:100%;
    text-align: center;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

div#nav {
    padding: 20px;
    background-color: gray;
    /*width: 15%;*/
    height: 100%;
    float: left;
    margin-right: 20px;
    border-top-left: 3px;
    border-bottom-left: 3px;
}

div#content {
    height: 100%;
    background-color: #e1e1e1;
    width: 100%;
}

/*div#footer {
    height: 50px;
    width: 100%;
    background-color: purple;
    float: none;
}*/

* {
  margin: 0;
}
/*.page-wrap {
  min-height: 100%;
   equal to footer height 
  margin-bottom: -142px; */
/*}
.page-wrap:after {
  content: "";
  display: block;
}*/
/*.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}*/

.footer {
    min-height: 100%;
    margin-bottom: -142px;
}

.footer:after {
    content: "";
    display: block;
}

.site-footer, .footer:after; {
    height: 142px;
}

.site-footer {
    background: orange;
}
