div#tan {
	background-color: #dbc3a4;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	margin: 5px 0 auto;
	color: white;
	text-align: center;	
}

div#gray {
	background-color: #808080;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	margin: 5px 0px;
	color: white;
	text-align: center;
}

div#green {
	background-color: #008000;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	margin: 5px 60px;
	color: white;
	text-align: center;
}

div#brown {
	background-color: #ac7339;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	margin: 5px 90px;
	color: white;
	text-align: center;
}

div#black {
	background-color: black;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	margin: 5px 120px;
	color: white;
	text-align: center;
}