body {
        font-family: monospace;
        font-style: lucida console;
        font-size: 48px;
      }

<div id="contentBox" style="margin:0px auto; width:70%">

    <div id="column1" style="float:left; margin:0; width:33%;">
     CONTENT
    </div>

    <div id="column2" style="float:left; margin:0;width:33%;">
     CONTENT
    </div>

    <div id="column3" style="float:left; margin:0;width:33%">
     CONTENT
    </div>
</div>